@font-face {
    font-family: mainRegular;
    src: url(./PrimeformProDemo-SemiBold.otf);
}
@font-face {
    font-family: mainLight;
    src: url(./PrimeformProDemo-Light.otf);
}
@font-face {
    font-family: mainBold;
    src: url(./PrimeformProDemo-Bold.otf);
}
@font-face {
    font-family: mainRegular1;
    src: url(./PrimeformProDemo-Regular.otf);
}

* {
    margin: 0;   
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    backdrop-filter: blur(0px); /* Adjust the blur radius as needed */
    padding: 15px;
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
    z-index: 1000;
    border-radius: 50px;
    margin-top: 15px;
    height: 40px;
}



nav.blurred {
    background-color: rgba(225, 225, 225, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
}

nav button {
    background-color: transparent;
    border: none;
    font-family: mainRegular;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
}

nav a {
    color: #0b0b0b;
    text-decoration: none;
    transition: color 0.4s ease, transform 0.5s ease; /* Add transform property */
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block; /* Needed for vertical alignment */
}

nav #active {
    color: #3875bb;
    font-family: mainBold;
}

nav a:hover {
    color: #3781DB;
    transform: translateY(-5px); /* Adjust the value to control the upward movement */
}


#name{
    color: #4C5F75;
    text-decoration: none;
    font-family: mainRegular;
    font-size: 20px;
    float: left;
    margin: 30px 40px 30px 60px;
    transform: translateY(0px); /* Adjust the value to control the upward movement */

}


.main-wrapper {
    padding: 40px;
    padding-top: 80px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 90px;
}

#mainContainer {    
    margin-right: 0px; /* Adjust the margin as needed */
    height: max-content;
    width: 30%;
    
}

#nameMain {
    font-family: mainBold;
    font-size: 150px;
    line-height: 130px;
    letter-spacing: 0px;
}

#textMain{
    columns: #0b0b0b;
    font-family: mainRegular;
    letter-spacing: 0.5px;
    margin-top: 40px;
    transition: transform 0.5s ease; /* Add transform property */
}

#textMain:hover {
    transform: translateX(10px); /* Adjust the value to control the rightward movement */
}

#imageContainer {
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

#imageContainer img {
    width: 100%;
    height: auto;
    display: block;
}

#section1 {
    height: 440px;
    background-color: #0b0b0b;
    margin-top: 30px;
    display: flex;
    align-items: center;
    position: relative; /* Added position: relative to establish a positioning context */
}



#mainContainerSection1 {
    border: 3px #6c98ca solid;
    width: 1050px;
    height: 210px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex; /* Use flexbox for the main container */
    align-items: center;
    justify-content: center;
}

#mainContainerSection1 img {
    transform: scale(0.2) translateY(0); /* Default state */
    border: solid white 10px;
    border-radius: 1000px;
    margin: -100px;
    padding: 50px;
    transition: transform 0.5s ease-in-out; /* Apply the transition property here */
}

#mainContainerSection1 img:hover {
    transform: scale(0.2) translateY(-40px); /* Move 40px up on hover */
    border: solid white 10px;
    border-radius: 1000px;
    margin: -100px;
    padding: 50px;
    transition: transform 0.5s ease-in-out; /* Apply the transition property here */
}

#text {
    margin-right: 40px;
}

#mainTextSection1,
#mainText2Section1 {
    color: white;
    font-family: mainBold;
    font-size: 35px;
}

#mainText2Section1 {
    font-family: mainLight;
    font-size: 15px;
    margin-top: 20px; /* Adjusted margin */
}

#logo{
    justify-content: center;
    align-items: center;
    text-align: center;
}

#logos {
    height: 130px;
    margin-right: -40px;
    display: inline-flex;
}

#logos p{
    margin-top: -20px;
    color: white;
    font-family: mainLight;
    font-size: 10px;
}


#section1About{
    padding-top: 150px;
    height: 400px;
}

#aboutMain{
    font-family: mainBold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
}

#section2{
    height: 550px;
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

#imageSection2 {
    height: 550px;
    overflow: hidden;
    width: fit-content;
}

#imageSection2 img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}


#imageSection2:hover{
    transform: scale(0.9);
}

#textSection2{
    width: 48%;
    height: 495px;
    margin-left: 50px;
    z-index: 0;
    padding-top: 40px;
}

#titleSection2{
    font-family: mainBold;
    font-size: 35px;
    text-align: right;
}

#mainSection2{
    font-family: mainRegular1;
    font-size: 18px;
    text-align: right;
    line-height: 30px;
    margin-top: 10px;
}

#moreBtn{
    float: right;
    width: max-content;
    margin-top: 15px;
    z-index: -999999;
}

#moreBtn button {
    border-radius: 30px;
    border: solid 2px #3781DB;
    background-color: transparent;
    color: #0b0b0b;
    font-family: mainRegular;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#moreBtn button:hover {
    cursor: pointer;
    border: 2px solid #3781DB;
    background-color: #3781DB;
    color: white;
}


#section3{
    height: 600px;
    background-color: rgb(237, 237, 237);
    padding: 20px;
}

#section3-container h2 {
    font-size: 35px;
    font-family: mainBold;
    width: max-content;
    margin-left: 20%;
    margin-right: 80%;
    margin-top: 20px;
    letter-spacing: 1px;
    color: #0b0b0b;
}

#projectsShow {
    margin-top: 25px;
    height: 450px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 40px; /* Add 10px gap between flex items */
}

#projectSection3 {
    background-color: rgb(222, 222, 222);
    height: 400px;
    width: calc(100% / 3);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    transition: filter 0.5s, transform 0.5s;
}

#projectSection3:hover {
    transform: scale(0.95);
    filter: grayscale(0%); /* Fully colored when hovered */
    cursor: pointer;
}

#projectSection3:not(:hover) {
    filter: grayscale(100%); /* Black and white when not hovered */
}


#projectsPage button {
    border-radius: 30px;
    border: solid 2px #3781DB;
    background-color: transparent;
    color: #0b0b0b;
    margin-left: 21%;
    margin-top: -20px;
    font-family: mainRegular;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 10px 20px 10px 20px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#projectsPage button:hover {
    cursor: pointer;
    border: 2px solid #3781DB;
    background-color: #3781DB;
    color: white;
}

#section4{
    height: 200px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
}


#quote-container {
    padding: 0px;
}

#quote-container h2{
    font-family: mainBold;
    font-size: 30px;
    position: static;
}

#quote-text{
    font-family: mainRegular;
    font-size: 15px;
    position: static;
    padding: 10px;
}

#quote-author{
    font-family: mainRegular1;
    font-size: 13px;
    position: static;
    padding-bottom: 10px;
}

#quote-container button {
    border-radius: 30px;
    border: solid 2px #3781DB;
    background-color: transparent;
    color: #0b0b0b;
    font-family: mainRegular;
    letter-spacing: 1px;
    font-size: 15px;
    padding: 7px 10px 7px 10px;
    transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
}

#quote-container button:hover {
    cursor: pointer;
    border: 2px solid #3781DB;
    background-color: #3781DB;
    color: white;
}


#socialIcons {
    display: flex;
    gap: 30px;
    margin-top: 10px; /* Add margin-top to separate from #nameFooter */
}

.social {
    overflow: hidden;
    width: 25px;
    height: 25px;
}

.social a {
    display: flex; /* Use flex to center the content vertically */
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.social img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#social img:hover {
    cursor: pointer;
}


#pagesTitle {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
    z-index: 1; /* Above the circle */
}

#pagesTitle h2 {
    font-family: mainBold;
    font-size: 55px;
    color: #0b0b0b; /* Ensure the text is readable */
}

#aboutMainContainer{
    overflow: hidden;
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}

#aboutTextMain{
    width: calc(100%/1.5);
    line-height: 30px;
    padding-top: calc(100% / 50);
    text-align: left;
}

#aboutTextMain p{
    font-family: mainRegular1;
    font-size: 18px;
}


#aboutMainContainer1{
    height: max-content;
    background-color: #0b0b0b;
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column; /* Updated to stack containers vertically */
    position: relative; /* Added position: relative to establish a positioning context */
}

#mainContainerAbout1{
    margin-top: 30px;
    border: 3px #6c98ca solid;
    width: calc(100%  1.2);
    height: max-content;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
}
#mainContainerAbout2{
    margin-top: 30px;
    margin-bottom: 30px;
    border: 3px #6c98ca solid;
    width: calc(100%  1.2);
    height: max-content;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#progressContainer{
    margin-top: 20px;
    display: flex;
    justify-content: space-between; /* Adjust this property as needed */
}

#progressContainer span{
    margin-top: 20px;
}

#each{
    display: block;
    text-align: center;
    font-family: mainRegular;
    color: white;
}



#mainTextAbout1,
#mainText2About1 {
    color: white;
    font-family: mainBold;
    font-size: 35px;

    width: 100%;
}

#mainText2About1 {
    font-family: mainLight;
    font-size: 15px;
    margin-top: 5px; /* Adjusted margin */
}



#footer{
    height: 70px;
    background-color: #0b0b0b;
    padding: 20px;
    overflow: hidden;
    display:flex;
    justify-content: center;
    align-items: center;
}
#containerFooter {
    width: max-content;
    height: max-content;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    justify-content: center;
    align-items: center;
}

#nameFooter {
    font-family: mainRegular1;
    color: #e0e0e0;
    cursor: default;
}

#nameFooter:hover {
    cursor: pointer;
    color: rgb(167, 167, 167);
}









@media screen and (max-width: 1200px) {



    body{
        overflow-x: hidden;
    }

    html{
        overflow-x: hidden;
    }

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background-color: white;
        backdrop-filter: blur(0px); /* Adjust the blur radius as needed */
        padding: 10px;
        position: fixed;
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
        transition: background-color 0.3s ease;
        z-index: 1000;
        border-radius: 50px;
        margin-top: 10px;
        height: 20px;
    }
    
    
    nav.blurred {
        z-index: 99999999;

        background-color: white;

    }

    nav button {
        
        border: none;
        font-family: mainRegular;
        font-size: 10px;
        margin: 2px;
    }

    nav a {
        color: #1e1e1e;
        text-decoration: none;
        transition: color 0.4s ease, transform 0.5s ease;
        letter-spacing: 3px;
        text-transform: uppercase;
        display: inline-block;
    }

    nav #active {
        color: #3875bb;
        font-family: mainBold;
    }

    nav a:hover {
        color: #1e1e1e;
        transform: translateY(0px);
    }

    #name {
        color: #4C5F75;
        text-decoration: none;
        font-family: mainRegular;
        font-size: 20px;
        float: left;
        margin: 0;
        transform: translateY(0px);
    }

    .main-wrapper {
        background-image: url(./keyboardCloseup.png);
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        padding-top: 200px;
        margin-left: 0px;
        margin-right: 0px;
        z-index: 0;
        position: relative; /* Make the main wrapper a positioning context */
        background-position: center center; /* Center the background image horizontally and vertically */

    }

    .main-wrapper::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        z-index: -1;
        height: 100%;
        background-color: rgba(228, 228, 228, 0.9); /* Adjust the color and opacity as needed */
    }

    #mainContainer {
        margin-top: 70px;
        margin-right: 0px;
        padding-bottom: 200px;
        height: max-content;
        width: 100%; /* Change to 100% to take up the full width */
    }

    #nameMain {
        font-family: mainBold;
        font-size: 80px;
        line-height: 70px;
        letter-spacing: 0px;
    }

    #textMain {
        columns: #1e1e1e;
        font-family: mainRegular1;
        letter-spacing: 0.5px;
        margin-top: 20px;
        font-size: 13px;
        transition: transform 0.5s ease;
        width: 100%; /* Take up the full width */
    }

    #textMain:hover {
        transform: translateX(0px);
    }

    #imageContainer {
        overflow: hidden;
        display: none;
        z-index: 1; /* Ensure the image container is above other elements */
        width: 150px; /* Set the initial width */
        height: 150px;
        overflow: hidden;
        position: absolute; /* Use absolute positioning */
        top: 35%; /* Position it vertically in the middle */
        left: 82%; /* Position it horizontally in the middle */
        transform: translate(-50%, -50%); /* Adjust for center alignment */
    }

    #imageContainer img {
        width: 100%;
        height: auto;
        display: flex;
    }


    #section1{
        margin-top: 0px;
        height: 500px;
    }

    #mainContainerSection1 {
        border: 3px #6c98ca solid;
        width: 300px;
        height: 300px;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block; /* Use flexbox for the main container */
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    
    #mainContainerSection1 img {
        transform: scale(0.15) translateY(0); /* Default state */
        border: solid white 10px;
        border-radius: 1000px;
        margin: -100px;
        padding: 30px;
        transition: transform 0.5s ease-in-out; /* Apply the transition property here */
    }
    
    #mainContainerSection1 img:hover {
        transform: scale(0.15) translateY(0); /* Move 40px up on hover */
        border: solid white 10px;
        border-radius: 1000px;
        margin: -100px;
        padding: 30px;
        transition: transform 0.5s ease-in-out; /* Apply the transition property here */
    }
    
    
    #text{
        margin-left: 20px;
        margin-top: 18px;
    }
    
    #mainTextSection1,
    #mainText2Section1 {
        color: white;
        font-family: mainBold;
        font-size: 25px;
    }
    
    #mainText2Section1 {
        font-family: mainLight;
        font-size: 12px;
        margin-top: 20px; /* Adjusted margin */
    }
    

    #logo{
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #logos{
        height: 40px;
        margin-left: 20px;
        margin-top: 20px;
        display: inline-flex;
    }
    
    #logos p{
        margin-top: -10px;
        color: white;
        font-family: mainLight;
        font-size: 10px;
    }

    #section2{
        height: max-content;
        padding: 20px;
        display: flex;
        background-color: white;
        justify-content: center;
        align-items: center;
    }
    
    #imageSection2{
        display: none;
        width: 100%;
        height: 495px;
        background-image: url(./phoneImage.png);
        background-size: 100%;
    }

    
    #textSection2{
        width: 90%;
        height: max-content;
        z-index: 999999;
        margin-left: 0px;
    }
    
    #titleSection2{
        font-family: mainBold;
        font-size: 30px;
        text-align: center;
    }
    
    #mainSection2{
        font-family: mainRegular1;
        font-size: 15px;
        text-align: center;
    }
    
    #moreBtn{
        float: none;
        margin-left: auto;
        margin-right: auto;
    }
    
    #moreBtn button {
        border-radius: 30px;
        border: solid 2px #3781DB;
        background-color: transparent;
        color: #0b0b0b;
        font-family: mainRegular;
        letter-spacing: 1px;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    }
    
    #moreBtn button:hover {
        cursor: pointer;
        border: 2px solid #3781DB;
        background-color: #3781DB;
        color: white;
    }



    #section3{
        overflow: hidden;
        text-align: center;
        justify-content: center;
        align-items: center;
        height: 300px;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    #section3-container {
        padding: 0px;
        width: 90%;
    }


    #section3-container h2{
        font-family: mainBold;
        font-size: 25px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }


    #projectsShow {
        margin-top: 25px;
        height: 250px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        gap: 10px; /* Add 10px gap between flex items */
    }

    #projectSection3 {
        background-color: rgb(222, 222, 222);
        height: 200px;
        width: calc(100% / 3);
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        transition: filter 0.5s, transform 0.5s;
    }

    #projectSection3 img{
        transform: scale(0.5);
    }

    #projectSection3:hover {
        transform: scale(1);
        filter: grayscale(0%); /* Fully colored when hovered */
        cursor: default;
    }

    #projectSection3:not(:hover) {
        filter: grayscale(0%); /* Black and white when not hovered */
    }


    #projectsPage button {
        display: none;
        border-radius: 30px;
        border: solid 2px #3781DB;
        background-color: transparent;
        color: #0b0b0b;
        font-family: mainRegular;
        letter-spacing: 1px;
        font-size: 15px;
        padding: 10px 20px 10px 20px;
        transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    }


    #section4{
        height: 300px;
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }

    #quote-container {
        padding: 0px;
        width: 90%;
    }

    #quote-container h2{
        font-family: mainBold;
        font-size: 25px;
        position: static;
    }

    #quote-text{
        font-family: mainRegular1;
        font-size: 15px;
        position: static;
        padding: 10px;
    }

    #quote-author{
        font-family: mainRegular;
        font-size: 13px;
        position: static;
        padding-bottom: 10px;
    }

    #quote-container button {
        border-radius: 30px;
        border: solid 2px #3781DB;
        background-color: transparent;
        color: #0b0b0b;
        font-family: mainRegular;
        letter-spacing: 1px;
        font-size: 15px;
        padding: 7px 10px 7px 10px;
        transition: background-color 0.5s ease, color 0.5s ease, border-color 0.5s ease;
    }

    #quote-container button:hover {
        cursor: pointer;
        border: 2px solid #3781DB;
        background-color: transparent;
        color: #0b0b0b;
    }







    #pagesTitle {
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 70px;
        z-index: 1; /* Above the circle */
    }
    
    #pagesTitle h2 {
        font-family: mainBold;
        font-size: 40px;
        color: #0b0b0b; /* Ensure the text is readable */
    }



    #aboutMainContainer{
        overflow: hidden;
        display: flex;
        gap: 40px;
        justify-content: center;
        align-items: center;
    }
    
    #aboutTextMain{
        width: calc(100%/1.5);
        line-height: 30px;
        padding-top: calc(100% / 50);
        text-align: center;
    }
    
    #aboutTextMain p{
        font-family: mainRegular1;
        font-size: 15px;
    }
    
    
    #aboutMainContainer1{
        height: max-content;
        background-color: #0b0b0b;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        flex-direction: column; /* Updated to stack containers vertically */
        position: relative; /* Added position: relative to establish a positioning context */
    }
    
    #mainContainerAbout1{
        margin-top: 30px;
        border: 3px #6c98ca solid;
        width: calc(100% / 1.2);
        overflow: hidden;
        height: max-content;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    #mainContainerAbout2{
        margin-top: 30px;
        margin-bottom: 30px;
        border: 3px #6c98ca solid;
        width: calc(100%  / 1.2);
        height: max-content;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
    
    #progressContainer{
        margin-top: 20px;
        display: flex;
        flex-direction:row; /* Stack children vertically */
        justify-content:center; /* Adjust this property as needed */
        flex-wrap: wrap; /* Allow items to wrap to the next line */
    }
    
    
    #each{
        width: max-content;
        display: block;
        text-align: center;
        font-family: mainRegular;
        color: white;
    }
    
    
    
    #mainTextAbout1,
    #mainText2About1 {
        color: white;
        font-family: mainBold;
        font-size: 35px;
    
        width: 100%;
    }
    
    #mainText2About1 {
        font-family: mainLight;
        font-size: 15px;
        margin-top: 5px; /* Adjusted margin */
    }
    
    

    #footer{
        height: 70px;
        background-color: #0b0b0b;
        padding: 20px;
        overflow: hidden;
        display:flex;
        justify-content: center;
        align-items: center;
    }
    #containerFooter {
        width: max-content;
        height: max-content;
        display: flex;
        flex-direction: column; /* Stack children vertically */
        justify-content: center;
        align-items: center;
    }

    #nameFooter {
        font-family: mainRegular1;
        color: #e0e0e0;
        cursor: default;
    }

    #nameFooter:hover {
        cursor: pointer;
        color: rgb(167, 167, 167);
    }

}















