@font-face {
    font-family: mainRegular;
    src: url(./PrimeformProDemo-SemiBold.otf);
}
@font-face {
    font-family: mainLight;
    src: url(./PrimeformProDemo-Light.otf);
}
@font-face {
    font-family: mainBold;
    src: url(./PrimeformProDemo-Bold.otf);
}
@font-face {
    font-family: mainRegular1;
    src: url(./PrimeformProDemo-Regular.otf);
}

* {
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: rgb(255, 255, 255);
    padding: 15px;
    position: fixed;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    transition: background-color 0.3s ease;
    z-index: 1000;
    border-radius: 50px;
    margin-top: 10px;
    height: 40px;
}



nav.blurred {
    background-color: rgba(225, 225, 225, 0.5); /* Adjust the alpha value for transparency */
    backdrop-filter: blur(10px); /* Adjust the blur radius as needed */
}

nav button {
    background-color: transparent;
    border: none;
    font-family: mainRegular;
    font-size: 20px;
    margin: 30px 30px 30px 30px;
}

nav a {
    color: #0b0b0b;
    text-decoration: none;
    transition: color 0.4s ease, transform 0.5s ease; /* Add transform property */
    letter-spacing: 3px;
    text-transform: uppercase;
    display: inline-block; /* Needed for vertical alignment */
}

nav #active {
    color: #3875bb;
    font-family: mainBold;
}

nav a:hover {
    color: #3781DB;
    transform: translateY(-5px); /* Adjust the value to control the upward movement */
}


#name{
    color: #4C5F75;
    text-decoration: none;
    font-family: mainRegular;
    font-size: 20px;
    float: left;
    margin: 30px 40px 30px 60px;
    transform: translateY(0px); /* Adjust the value to control the upward movement */

}

.main-wrapper {
    padding: 40px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-left: 90px;
}

#mainContainer {    
    margin-right: 0px; /* Adjust the margin as needed */
    height: max-content;
    width: 30%;
    
}

#nameMain {
    font-family: mainBold;
    font-size: 150px;
    line-height: 130px;
    letter-spacing: 0px;
}

#textMain{
    columns: #0b0b0b;
    font-family: mainRegular1;
    letter-spacing: 0.5px;
    margin-top: 40px;
    transition: transform 0.5s ease; /* Add transform property */
}

#textMain:hover {
    transform: translateX(10px); /* Adjust the value to control the rightward movement */
}

#imageContainer {
    width: 700px;
    height: 700px;
    overflow: hidden;
    position: relative;
}

#imageContainer img {
    width: 100%;
    height: auto;
    display: block;
}

#scroll{
    color: #3875bb;
    width: fit-content;
    font-family: mainRegular;
    font-size: 20px;
    letter-spacing: 40px;
    display: flex;
    position: absolute;
    top: 750px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    cursor: default;
    opacity: 1; /* Initial opacity */
    transition: opacity 0.3s ease-in-out; /* Apply transition for smooth effect */
}

#scroll.hidden {
    opacity: 0; /* Set opacity to 0 when hidden */
}

#section1 {
    height: 440px;
    background-color: #0b0b0b;
    margin-top: 20px;
    display: flex;
    align-items: center;
    position: relative; /* Added position: relative to establish a positioning context */
}

#mainContainerSection1 {
    border: 3px #6c98ca solid;
    width: 1050px;
    height: 210px;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex; /* Use flexbox for the main container */
    align-items: center;
    justify-content: center;
}

#mainContainerSection1 img {
    transform: scale(0.2) translateY(0); /* Default state */
    border: solid white 10px;
    border-radius: 1000px;
    margin: -100px;
    padding: 50px;
    transition: transform 0.5s ease-in-out; /* Apply the transition property here */
}

#mainContainerSection1 img:hover {
    transform: scale(0.2) translateY(-40px); /* Move 40px up on hover */
    border: solid white 10px;
    border-radius: 1000px;
    margin: -100px;
    padding: 50px;
    transition: transform 0.5s ease-in-out; /* Apply the transition property here */
}

#text {
    margin-right: 40px;
}

#mainTextSection1,
#mainText2Section1 {
    color: white;
    font-family: mainBold;
    font-size: 35px;
}

#mainText2Section1 {
    font-family: mainLight;
    font-size: 15px;
    margin-top: 20px; /* Adjusted margin */
}

#logos {
    height: 130px;
    margin-right: -40px;
    display: inline-flex;
}


  #section2{
    height: 300px;
    
  }

  #section1About{
    padding-top: 150px;
    height: 400px;
  }

  #aboutMain{
    font-family: mainBold;
    font-size: 30px;
    text-align: center;
    letter-spacing: 10px;
  }



















@media screen and (max-width: 768px) {

    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    
        background-color: rgb(255, 255, 255);
        padding: 10px;
        position: fixed;
        width: fit-content;
        left: 50%;
        transform: translateX(-50%);
        transition: background-color 0.3s ease;
        z-index: 1000;
        border-radius: 50px;
        margin-top: 10px;
        height: 20px;
    }
    
    
    nav.blurred {
        background-color: rgba(225, 225, 225, 0.7); /* Adjust the alpha value for transparency */
        backdrop-filter: blur(40px); /* Adjust the blur radius as needed */
    }

    nav button {
        background-color: transparent;
        border: none;
        font-family: mainRegular;
        font-size: 10px;
        margin: 2px;
    }

    nav a {
        color: #1e1e1e;
        text-decoration: none;
        transition: color 0.4s ease, transform 0.5s ease;
        letter-spacing: 3px;
        text-transform: uppercase;
        display: inline-block;
    }

    nav #active {
        color: #3875bb;
        font-family: mainBold;
    }

    nav a:hover {
        color: #1e1e1e;
        transform: translateY(0px);
    }

    #name {
        color: #4C5F75;
        text-decoration: none;
        font-family: mainRegular;
        font-size: 20px;
        float: left;
        margin: 0;
        transform: translateY(0px);
    }

    .main-wrapper {
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
        padding-top: 200px;
        margin-left: 12px;
        margin-right: 12px;
        position: relative; /* Make the main wrapper a positioning context */
    }

    #mainContainer {
        margin-top: 70px;
        margin-right: 0px;
        height: max-content;
        width: 100%; /* Change to 100% to take up the full width */
    }

    #nameMain {
        font-family: mainBold;
        font-size: 80px;
        line-height: 70px;
        letter-spacing: 0px;
    }

    #textMain {
        columns: #1e1e1e;
        font-family: mainRegular1;
        letter-spacing: 0.5px;
        margin-top: 20px;
        font-size: 13px;
        transition: transform 0.5s ease;
        width: 100%; /* Take up the full width */
    }

    #textMain:hover {
        transform: translateX(0px);
    }

    #imageContainer {
        display: none;
        z-index: 1; /* Ensure the image container is above other elements */
        width: 150px; /* Set the initial width */
        height: 150px;
        overflow: hidden;
        position: absolute; /* Use absolute positioning */
        top: 35%; /* Position it vertically in the middle */
        left: 82%; /* Position it horizontally in the middle */
        transform: translate(-50%, -50%); /* Adjust for center alignment */
    }

    #imageContainer img {
        width: 100%;
        height: auto;
        display: flex;
    }

    #scroll{
        color: #3875bb;
        width: fit-content;
        font-family: mainRegular;
        font-size: 20px;
        letter-spacing: 40px;
        display: flex;
        position: absolute;
        top: 750px;
        left: 55%; /* Center horizontally */
        transform: translateX(-50%); /* Center horizontally */
        cursor: default;
        opacity: 1; /* Initial opacity */
        transition: opacity 0.3s ease-in-out; /* Apply transition for smooth effect */
    }
    
    #scroll.hidden {
        opacity: 0; /* Set opacity to 0 when hidden */
    }


    #section1{
        margin-top: 200px;
        height: 400px;
    }

    #mainContainerSection1 {
        border: 3px #6c98ca solid;
        width: 300px;
        height: 270px;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        display: block; /* Use flexbox for the main container */
        align-items: center;
        justify-content: center;
    }
    
    #mainContainerSection1 img {
        transform: scale(0.2) translateY(0); /* Default state */
        border: solid white 10px;
        border-radius: 1000px;
        margin: -100px;
        padding: 50px;
        transition: transform 0.5s ease-in-out; /* Apply the transition property here */
    }
    
    #mainContainerSection1 img:hover {
        transform: scale(0.2) translateY(0); /* Move 40px up on hover */
        border: solid white 10px;
        border-radius: 1000px;
        margin: -100px;
        padding: 50px;
        transition: transform 0.5s ease-in-out; /* Apply the transition property here */
    }
    
    
    #text{
        margin-left: 20px;
        margin-top: 18px;
    }
    
    #mainTextSection1,
    #mainText2Section1 {
        color: white;
        font-family: mainBold;
        font-size: 25px;
    }
    
    #mainText2Section1 {
        font-family: mainLight;
        font-size: 12px;
        margin-top: 20px; /* Adjusted margin */
    }
    
    #logos{
        height: 70px;
        margin-left: 20px;
        margin-top: 20px;
        display: inline-flex;
    }

}

















@media screen and (max-width: 1200px) and (min-width: 769px) {

    
    nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        background-color: rgb(255, 255, 255);
        padding: 15px;
        position: fixed;
        width: 60%;
        left: 50%;
        transform: translateX(-50%);
        transition: background-color 0.3s ease;
        z-index: 1000;
        border-radius: 50px;
        margin-top: -70px;
        height: 40px;
    }


    nav.blurred {
        backdrop-filter: blur(20px); /* Adjust the blur radius as needed */
    }

    nav button {
        background-color: transparent;
        border: none;
        font-family: mainRegular;
        font-size: 15px;
        margin: 30px 30px 30px 30px;
    }

    nav a {
        color: #0b0b0b;
        text-decoration: none;
        transition: color 0.4s ease, transform 0.5s ease; /* Add transform property */
        letter-spacing: 3px;
        text-transform: uppercase;
        display: inline-block; /* Needed for vertical alignment */
    }

    nav #active {
        color: #3875bb;
        font-family: mainBold;
    }

    nav a:hover {
        color: #3781DB;
        transform: translateY(-5px); /* Adjust the value to control the upward movement */
    }


    #name{
        color: #4C5F75;
        text-decoration: none;
        font-family: mainRegular;
        font-size: 20px;
        float: left;
        margin: 30px 40px 30px 60px;
        transform: translateY(0px); /* Adjust the value to control the upward movement */

    }

    .main-wrapper {
        margin-top: 90px;
        justify-content: center;
        display: flex;
        align-items: center;
        margin-left: 90px;
    }

    #mainContainer {    
        margin-right: 50px; /* Adjust the margin as needed */
        height: max-content;
        width: 30%;
        
    }

    #nameMain {
        font-family: mainBold;
        font-size: 125px;
        line-height: 130px;
        letter-spacing: 0px;
    }

    #textMain{
        columns: #0b0b0b;
        font-family: mainRegular1;
        letter-spacing: 0.5px;
        margin-top: 30px;
        transition: transform 0.5s ease; /* Add transform property */
        font-size: 15px;
    }

    #textMain:hover {
        transform: translateX(10px); /* Adjust the value to control the rightward movement */
    }

    #imageContainer {
        width: 500px;
        height: 500px;
        overflow: hidden;
        position: relative;
    }

    #imageContainer img {
        width: 100%;
        height: auto;
        display: block;
    }

    #section1{
        height: 250px;
        background-color: #0b0b0b;
        margin-top: 25px;
    }

    #mainContainerSection1 {
        border: 3px #6c98ca solid;
        width: 700px;
        height: 150px;
        border-radius: 15px;
        margin-left: auto;
        margin-right: auto;
        display: flex; /* Use flexbox for the main container */
        align-items: center;
        justify-content: center;
    }
    
    #mainContainerSection1 img {
        transform: scale(0.2) translateY(0); /* Default state */
        border: solid white 10px;
        border-radius: 1000px;
        margin: -100px;
        padding: 50px;
        transition: transform 0.5s ease-in-out; /* Apply the transition property here */
    }
    
    #mainContainerSection1 img:hover {
        transform: scale(0.2) translateY(0); /* Move 40px up on hover */
        border: solid white 10px;
        border-radius: 1000px;
        margin: -100px;
        padding: 50px;
        transition: transform 0.5s ease-in-out; /* Apply the transition property here */
    }
    
    
    #text{
        margin-left: -30px;
        margin-top: 0px;
    }
    
    #mainTextSection1,
    #mainText2Section1 {
        color: white;
        font-family: mainBold;
        font-size: 25px;
    }
    
    #mainText2Section1 {
        font-family: mainLight;
        font-size: 12px;
        margin-top: 20px; /* Adjusted margin */
    }
    
    #logos{
        height: 70px;
        margin-left: 0px;
        margin-top: 20px;
        display: inline-flex;
    }
}